@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.google.com/specimen/Shrikhand?preview.text=Diane%20Wu&classification=Display&stroke=Serif");
/*import other fonts.js soon*/

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb:16, 23, 41;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*          to bottom,*/
/*          transparent,*/
/*          rgb(var(--background-end-rgb))*/
/*  )*/
/*  rgb(var(--background-start-rgb));*/
/*}*/
/*background: radial-gradient(circle at right, #9c27b0, #ff9800);*/
body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at right, #1B1E25, #1E1E1E);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
